@import "tailwindcss";

/* Define your font faces */
@font-face {
  font-family: 'Futura';
  src: url('/Fonts/Futura-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNow';
  src: url('/Fonts/HelveticaNowText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Define them in Tailwind's theme layer */
@theme {
  --font-futura: "Futura", sans-serif;
  --font-helvetica: "HelveticaNow", sans-serif;
}
